<section class="text-block">
<section class="thin-div">
  <div class="center">Don't Miss</div>
</section>

<section class="dont-miss">
  <div class="story">
      <div class="padded">
        <a href="http://projects.seattletimes.com/2018/orcas-in-peril/">
          <img src="./assets/breach.jpg"></img>
        </a>
        <div>
          <a href="http://projects.seattletimes.com/2018/orcas-in-peril/">
            In Part One, we traveled north to a land where another resident population of orcas is thriving in quieter, cleaner waters.
          </a>
        </div>
      </div>
    </div>
    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/seattle-news/environment/the-orca-and-the-orca-catcher-how-a-generation-of-killer-whales-was-taken-from-puget-sound/">
          <img src="./assets/capture.jpg"></img>
        </a>
        <div>
          <a href="https://www.seattletimes.com/seattle-news/environment/the-orca-and-the-orca-catcher-how-a-generation-of-killer-whales-was-taken-from-puget-sound/">
            Part Two told how a generation of killer whales was taken from Puget Sound and shipped around the world — and who put a stop to it.
          </a>
        </div>
      </div>
    </div>
    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/seattle-news/environment/hunger-the-decline-of-salmon-adds-to-the-struggle-of-puget-sounds-orcas/">
          <img src="./assets/sealion.jpg"></img>
        </a>
        <div>
          <a href="https://www.seattletimes.com/seattle-news/environment/hunger-the-decline-of-salmon-adds-to-the-struggle-of-puget-sounds-orcas/">
            Part Three showed how  scientists — and a dog — are working to understand how hunger hurts, even kills, when salmon runs crater. 
          </a>
        </div>
      </div>
    </div>
    <div class="story">
      <div class="padded">
        <a href="https://projects.seattletimes.com/2019/hostile-waters-orcas-noise/">
          <img src="./assets/social.jpg"></img>
        </a>
        <div>
          <a href="https://projects.seattletimes.com/2019/hostile-waters-orcas-noise/">
            With this installment, you can listen to an orca’s hunt unfold, and hear the human sounds orcas must navigate through to find food.
          </a>
        </div>
      </div>
    </div>
  
</section>
</section>