<section class="text-block project-head">
      <div class="constrained">
        
      </div>
    </section>
      <section class="scroll-content" style="background-color:blue">
      <div class="backdrop">

      <svg>
        <g id="dive2" data-name="Dive 2" class="layer" style="position:absolute; top:0; left:0; z-index:0; opacity: 1.0;"><image xlink:href="./assets/photos/dive2.png" width="100%" height="100%"></g>

        <g id="dive3" data-name="Dive 3" class="layer" style="position:absolute; top:0; left:0; z-index:0; opacity: 1.0;"><image xlink:href="./assets/photos/dive3.png" width="100%" height="100%"></g>

        <g id="dive4" data-name="Dive 4" class="layer" style="position:absolute; top:0; left:0; z-index:0; opacity: 1.0;"><image xlink:href="./assets/photos/dive4.png" width="100%" height="100%"></g>

        <g id="dive5" data-name="Dive 5" class="layer" style="position:absolute; top:0; left:0; z-index:0; opacity:1.0"><image xlink:href="./assets/photos/dive5.png" width="100%" height="100%"></g>

        <g id="dive6" data-name="Dive 6" class="layer" style="position:absolute; top:0; left:0; z-index:0; opacity:1.0"><image xlink:href="./assets/photos/dive6.png" width="100%" height="100%"></g>

        <g id="dive7" data-name="Dive 7" class="layer" style="position:absolute; top:0; left:0; z-index:0; opacity:1.0"><image xlink:href="./assets/photos/dive7.png" width="100%" height="100%"></g>

        <g id="dive8" data-name="Dive 8" class="layer" style="position:absolute; ; top:0; left:0; z-index:0; opacity:1.0"><image xlink:href="./assets/photos/dive8.png" width="100%" height="100%"></g>

        <g id="dive9" data-name="Dive 9" class="layer" style="position:absolute; ; top:0; left:0; z-index:0; opacity:1.0"><image xlink:href="./assets/photos/dive9.png" width="100%" height="100%"></g>

        <g id="dive10" data-name="Dive 10" class="layer" style="position:absolute; ; top:0; left:0; z-index:0; opacity:1.0"><image xlink:href="./assets/photos/dive10.png" width="100%" height="100%"></g>

        <g id="dive11" data-name="Dive 11" class="layer" style="position:absolute; ; top:0; left:0; z-index:0; opacity:1.0"><image xlink:href="./assets/photos/dive11.png" width="100%" height="100%"></g>

        <g id="Existing" class="layer" style="position:relative; z-index:12"><image xlink:href="" width="100%" height="100%"></g>
     
      </svg>

      </div>

      <div class="first layer" data-layer="Existing">
        <h2>Anatomy of a hunt</h2>
        <p>K35 has just taken a deep breath, arched his back, and plunged deep below the surface.</p>
        <audio controls>
        <source src="./assets/audio/001_splashing_surface_breath.mp3" type="audio/mpeg">
        </audio>
        <p>Researchers eavesdropped on his hunt capturing not only his clicks, buzzes and calls, but his movements, and the sounds around him, revealing the underwater world of an orca on the hunt.</p>
      </div>
      <% json.stages.forEach(function(stage) { %>
      <div class="layer" data-layer="<%= stage.layer %>">
        <h2><%= stage.head %></h2>
        <p><%= stage.text %></p>
        <audio controls>
        <source src="./assets/audio/<%= stage.audio %>">
        </audio>
        
      </div>
      <% }) %>
    </section>